.body-container {
  /*
    Compound Color Scheme (Split Complementary)
  */
  --green-light: #F0F7D4;
  --green-dark:  #B2D732;
  --red:         #9D0E01;
  --blue-light:  #347B98;
  --blue-dark:   #092834;
}

.center-text {
  text-align: center;
}

body {
  font-family: "Muli", sans-serif;
  background-color: var(--green-dark, white);
  margin: 4vh 10vw;
}

#title {
  background-color: var(--green-light, white);
  color: var(--red, black);
  margin-bottom: 0px;
  padding: 1vh 0;
}

#description {
  margin-top: 0px;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

main {
  background-color: var(--green-light, white);
  padding: 0 3vw;
}

#survey-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-gap: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
}

label {
  justify-self: end;
  text-align: end;
}

#name, #email, #number, #dropdown, fieldset, textarea {
  justify-self: start;
  padding: 1vh;
  width: 250px;
}

#dropdown {
  height: 30px;
}

#submit-row {
  grid-column: 1 / -1;
  justify-self: center;
  padding: 1vh 0;
}

#submit {
  background-color: var(--red, black);
  color: var(--green-light, white);
  padding: 2vh 3vw;
}

footer {
  background-color: var(--blue-dark, darkblue);
  color: var(--green-dark, lightgreen);
  margin-top: 0px;
  padding: 1vh 0;
}

footer a {
  color: var(--green-dark, lightgreen);
}

@media screen and (max-width: 540px) {
  body {
    margin: 1vh 1vw;
  }

  #survey-form {
    grid-template-columns: 1fr;
    grid-gap: 3px;
  }

  label {
    justify-self: start;
    margin-top: 2vh;
  }

  #name, #email, #number, #dropdown, fieldset, textarea {
    width: 90%;
  }
}