body {
  font-family: "Trebuchet MS", Arial;
  font-size: 20px;
  color: white;
  background-color: #555555;
}

.weather-box {
  border: 2px solid darkgray;
  padding: 20px;
}

.vcenter {
  position: absolute;
  top: 20%;
  transform: translateY(-50%);
}

.hcenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
