body {
  font-family: "Trebuchet MS", Arial;
  font-size: 20px;
  color: black;
  background-color: #F6F6F6;
}

#search {
  color: #2F49AA;
}

a:link {
  color: #2F49AA;
}

a:visited {
  color: #0D0C7D;
}

a:hover {
  cursor: pointer;
}

