body {
  font-family: "Trebuchet MS", Arial;
  font-size: 20px;
  color: black;
  background-color: #F6F6F6;
}

.bg-header {
  background-color: #E0EEF7;
  color: #0F48AA;
}

#clear {
  background-color: white;
}

#search {
  color: #2F49AA;
}

a:link {
  color: #2F49AA;
}

a:visited {
  color: #0D0C7D;
}

a:hover, #search, #clear {
  cursor: pointer;
}

/* hide native clear button */
::-ms-clear {
  display: none;
}
