body {
  font-family: "Trebuchet MS", Arial;
  font-size: 20px;
  color: white;
  background-color: #555555;
}

.bg-header {
  background-color: #29A0EB;
  color: #F4F4F4;
}

.quote-box {
  border: 2px dashed darkgray;
  padding: 20px;
}

