body {
  font-family: "Trebuchet MS", Arial;
  font-size: 20px;
  color: #19171C;
  background-color: #FAF9FA;
}

.bg-header {
  background-color: #4B387A;
  color: #AFC3ED
}

a:link {
  color: #9E8BC5;
}

a:visited {
  color: #6344A2;
}
