.text-center {
  text-align: center;
}

body {
  /*
    Compound Color Scheme (Split Complementary)
  */
  --yellow-light: #F7F4D4;
  --yellow-dark: #FDED2A;
  --violet: #AE0D7A;
  --black-light: #414141;
  --black: #212121;

  font-family: "Roboto", sans-serif;
  margin: 0px;
}

#nav-bar {
  position: fixed;
  top: 0px;
  margin: 0px;
  width: 100vw;
  z-index: 999;
  background-color: var(--yellow-dark, lightyellow);
}

#nav-bar ul {
  list-style-type: none;
  margin: 0px 30px;
  padding: 0px;

  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  #nav-bar ul {
    flex-direction: column;
    padding: 10px;
  }
}

#nav-bar a {
  margin: 15px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: var(--black, black);
}

@media (max-width: 600px) {
  #nav-bar a {
    margin: 2px;
  }
}

#nav-bar li:first-child {
  margin-right: auto;
}

@media (max-width: 600px) {
  #nav-bar li:first-child {
    margin-right: unset;
  }
}

#header-img {
  width: 250px;
}

@media (max-width: 600px) {
  #header-img {
    width: 190px;
  }
}

a.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

@media (max-width: 600px) {
  a.anchor {
    top: -125px;
  }
}

main {
  padding: 30px;
  margin-top: 30px;
  background-color: var(--black, black);
  color: var(--yellow-light, lightyellow);
}

@media (max-width: 600px) {
  main {
    margin-top: 90px;
  }
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email-container {
  display: flex;
  margin: 10px;
  width: 100%;
  max-width: 300px;
}

#email-container label {
  margin: 5px;
}

#email-container input {
  margin: 5px;
  width: 100%;
  height: 20px;
}

input[type="submit"] {
  width: 100%;
  max-width: 120px;
  border: 0px;
  height: 30px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: var(--violet, lightyellow);
  color: var(--yellow-light, black);
}

#features {
  display: flex;
  flex-direction: column;
  margin: 60px 5vw;
  padding: 8px;
  background-color: var(--black-light, black);
  border-radius: 5px;
}

@media (max-width: 600px) {
  #features {
    margin: 30px 1vw;
  }
}

.feature {
  display: flex;
}

.feature-icon {
  color: var(--violet, lightyellow);
  font-size: 45px;
  margin-right: 20px;
}

.feature-info h3 {
  color: var(--yellow-dark, lightyellow);
}

#see_in_action {
  margin: 60px;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  #see_in_action {
    margin: 30px;
  }
}

#video {
  width: 480px;
  height: 360px;
}

#pricing {
  margin: 60px 2vw;
  display: flex;
  justify-content: space-evenly;
}

.product {
  width: 28%;
  border-style: solid;
}

@media (max-width: 600px) {
  #pricing {
    margin: 30px 1vh;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1vh;
  }

  .product {
    width: 90%;
    margin: 10px;
  }
}

.product-name {
  margin: 0px;
  padding: 6px;
  text-align: center;
  text-transform: uppercase;
  color: var(--yellow-dark, lightyellow);
  background-color: var(--black-light, black);
}

.product-price {
  margin: 8px;
  text-align: center;
  color: var(--yellow-dark, lightyellow);
}

.product-description {
  margin: 8px;
}

footer {
  background-color: var(--black-light, black);
  color: var(--yellow-light, lightyellow);
}

footer a {
  color: var(--yellow-light, lightyellow);
  text-decoration: none;
}

.footer-links {
  padding: 10px;
}

.footer-links a {
  padding: 0px 10px;
}

footer p {
  margin: 0;
  padding-bottom: 10px;
}

